<app-nav-bar></app-nav-bar>
<div class="body">
<div class ="bg">
    <img class="mb-3 app-logo" src="../../assets/electomart_logo.jpg" alt="Angular logo"/>
    <h1><b>E-COMMERCE SELLER APPLICATION</b></h1>
  </div>
 
    <p class="lead">
     Marketplace seller application is the best platform to sell online premium and quality items quickly with zero investment. Sellers can create and manage online business with Marketplace seller platform in very less time. This platform provides the fastest way for individual entrepreneurs and small businesses to sell their products into the market.<br>
   </p>
 <br>
<br>
<br>
<br>
<br>

<div class="wrapper">
  <div class="container1">
    <i class="fas fa-utensils"></i>
    <span class="num" data-val="400">453</span>
    <span class="text">Orders Delivered</span>
  </div>

  <div class="container1">
    <i class="fas fa-smile-beam"></i>
    <span class="num" data-val="340">890</span>
    <span class="text">Happy Customers</span>
  </div>

  <div class="container1">
    <i class="fas fa-list"></i>
    <span class="num" data-val="225">124</span>
    <span class="text">Brands Collaborated</span>
  </div>

</div>
<br><br><br><br><br>
 
 
 
    <div class="container">
      <img src="../../assets/electlogo.jpg" width="200" height="180">
      <h1><b>WELCOME TO ELECTROMART</b></h1> 
      <p>&RightArrowBar; Your go-to destination for everything you need online. From the latest tech gadgets to essential home products, ElectroMart has it all.</p>
      <p>&RightArrowBar; Explore our vast selection of top-rated products from renowned brands and reliable sellers. Whether you're shopping for cutting-edge electronics or other must-have items, we curate the best offerings to match your tastes and needs.</p>
      <p>&RightArrowBar; At ElectroMart, we're dedicated to providing a smooth shopping journey from start to finish. Our intuitive platform makes browsing easy, letting you explore products in detail and complete your purchases securely with confidence.</p> 
      <p>&RightArrowBar; With fast, reliable shipping options, your order will arrive at your doorstep in no time. Plus, our friendly customer support team is here to help with any questions or concerns you may have along the way.</p> 
      <p>&RightArrowBar; Join the millions of happy customers who trust ElectroMart for their online shopping needs. Start exploring today and take your shopping experience to the next level with ElectroMart.</p>
      <p class="center-text">Enjoy your shopping experience!</p>
 
    </div>

   
</div>